/* FONTS */

@font-face {
    font-family: "Brandon_bld";
    src: url(../assets/fonts/Brandon/Brandon_bld.otf);
}

@font-face {
    font-family: "Brandon_blk";
    src: url(../assets/fonts/Brandon/Brandon_blk.otf);
}

@font-face {
    font-family: "Brandon_light";
    src: url(../assets/fonts/Brandon/Brandon_light.otf);
}

@font-face {
    font-family: "Brandon_med";
    src: url(../assets/fonts/Brandon/Brandon_med.otf);
}

@font-face {
    font-family: "Brandon_reg";
    src: url(../assets/fonts/Brandon/Brandon_reg.otf);
}

@font-face {
    font-family: "Brandon_thin";
    src: url(../assets/fonts/Brandon/Brandon_thin.otf);
}
/* GENERALE*/

body{
	background-color: white;
}

/* LANDING */

.bg_landing{
    z-index: -10;
	position: absolute;
	height: 100%;
	width: 100%;
	background: url(../assets/img/background_1.png) no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
 	background-size: cover; /* version standardisée */
}

/* HEADER LANDING*/
#header{
    height: 265px;
}
.header{
	padding-top: 90px;
    height: 120px;
}
.header .left{
	float: left;
	margin-left: 75px;
}
.header .right{
	float: right;
    margin-right: 75px;
}
.header .right ul li{
	display: inline-block;
    color: #f47482;
	font-family: Brandon_bld;
	font-size: 15px;
}
.header .right ul li:first-child{
    margin-right: 90px;
}
.header .right ul li:last-child img{
    position: absolute;
    top: 85px;
    right: 165px;
}
.header .right ul li:first-child img{
    position: absolute;
    top: 90px;
    right: 325px;
}
.header .logo{
    margin-top: 50px;
    margin-bottom: 70px;
}

/* Etapes */
.container_ul{
    display: flex;
    justify-content: center;
    height: 270px;
    width: 100%;
    margin-bottom: 25px;
}
.container_ul ul{
    padding: 0;
    margin: 0;
}
.container_ul li{
    position: relative;
    border-radius: 20px;
    display: block;
    float: left;
    width: 270px;
    height: 270px;
    margin-right: 25px;
    background-color: #f5efe8;
}
.container_ul li:last-child{
    margin-right: 0;
}
.container_ul .top_ul p{
    font-family: Brandon_bld;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 30px;
}
.container_ul .mid_ul p{
    font-size: 18px;
    font-family: Brandon_reg;
    color: #676666;
}
.container_ul .mid_ul p{
    font-size: 18px;
    font-family: Brandon_reg;
    color: #676666;
}
.container_ul .mid_ul .winner{
    font-size: 15px;
    font-family: Brandon_bld;
    color: #676666;
}
.container_ul .bot_ul{
    margin-top: 50px;
}
.container_ul .bot_ul p{
    font-size: 18px;
    font-family: Brandon_reg;
    color: #f5efe8;
    background-color: #938c86;
    width: 120px;
    border-radius: 10px;
    margin: auto;
}