/* FONTS */

@font-face {
    font-family: "Brandon_bld";
    src: url(../assets/fonts/Brandon/Brandon_bld.otf);
}

@font-face {
    font-family: "Brandon_blk";
    src: url(../assets/fonts/Brandon/Brandon_blk.otf);
}

@font-face {
    font-family: "Brandon_light";
    src: url(../assets/fonts/Brandon/Brandon_light.otf);
}

@font-face {
    font-family: "Brandon_med";
    src: url(../assets/fonts/Brandon/Brandon_med.otf);
}

@font-face {
    font-family: "Brandon_reg";
    src: url(../assets/fonts/Brandon/Brandon_reg.otf);
}

@font-face {
    font-family: "Brandon_thin";
    src: url(../assets/fonts/Brandon/Brandon_thin.otf);
}
/* GENERALE*/

body{
	background-color: white;
    overflow:hidden;
}

/* SIDEBAR */


.container{
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transition:  left 0.4s ease-in-out;
    -moz-transition:  left 0.4s ease-in-out;
    -ms-transition:  left 0.4s ease-in-out;
    -o-transition:  left 0.4s ease-in-out;
    transition:  left 0.4s ease-in-out;
}
.container.open-sidebar{
    left: 400px;
}
#sidebar{
    background: #fff;
    color:#676666;
    position: absolute;
    left: -400px;
    width: 400px;
    height: 100%;
    padding-top: 120px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;

}
#sidebar h1{
    margin: 0;
    padding: 0;
    font-size: 24px;
    text-transform: uppercase;
    color: #f68d98;
    font-family: Brandon_bld;
    padding: 12px 30px;
}
#sidebar p{
    font-size: 18px;
    font-family: Brandon_bld;
    display: block;
    padding: 12px 20px;

}
/*.main-content {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}*/

/*.main-content .content{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
padding-left: 60px;
width: 100%;
}*/

/* LANDING */

#landing{

}
#landing .bg_landing{
	position: absolute;
	height: 100%;
	width: 100%;
	background: url(../assets/img/background_1.png) no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
 	background-size: cover; /* version standardisée */
    z-index: -1;
}
.intro{
    color: #f47482;
    font-family: Brandon_reg;
    font-style: italic;
    font-size:22px;
    margin-top: 80px;
    letter-spacing: 50;
    line-height: 45px;
}
iframe{
    border: 8px solid #fff;
    border-radius: 12px 12px;
}
.button-start{
    text-align: center;
}
.button-start button{
    display: inline-block;
}
button{
    background-color: #de4a4a;
    height: 60px;
    width: 300px;
    border-radius: 32.5px 32.5px;
    font-family: Brandon_bld;
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
}

/* HEADER LANDING*/

.header{
	padding-top: 90px;
    height: 120px;
}
.header .left{
	float: left;
	margin-left: 75px;
}
.header .right{
	float: right;
    margin-right: 75px;
}
.header .right ul li{
	display: inline-block;
    color: #f47482;
	font-family: Brandon_bld;
	font-size: 15px;
}
.header .right ul li:first-child{
    margin-right: 90px;
}
.header .right ul li:last-child img{
    position: absolute;
    top: 85px;
    right: 165px;
}
.header .right ul li:first-child img{
    position: absolute;
    top: 90px;
    right: 325px;
}
.header .logo{
    margin-top: -10px;
}
